<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IYY" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://122.114.55.110:20/YY.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IYY" contract="ServiceReference1.IYY"
                name="BasicHttpBinding_IYY" />
        </client>
    </system.serviceModel>
</configuration>
