<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication4.Properties.Settings.sql" connectionString="Data Source=.;Initial Catalog=ceshi;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="WindowsFormsApplication4.Properties.Settings.ClientceshiConnectionString" connectionString="Data Source=|DataDirectory|\ceshi.sdf;Max Database Size=2047" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="WindowsFormsApplication4.Properties.Settings.ceshiConnectionString" connectionString="Data Source=111.9.116.106;Initial Catalog=ceshi;Persist Security Info=True;User ID=sa;Password=BKLserver@123!@#" providerName="System.Data.SqlClient"/>
        <add name="xusystem.Properties.Settings.ceshiConnectionString" connectionString="Data Source=111.9.116.106;Initial Catalog=ceshi;Persist Security Info=True;User ID=sa;Password=BKLserver@123!@#" providerName="System.Data.SqlClient"/>
        <add name="xusystem.Properties.Settings.ClientceshiConnectionString" connectionString="Data Source=|DataDirectory|\ceshi.sdf;Max Database Size=2047" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="xusystem.Properties.Settings.sql" connectionString="Data Source=.;Initial Catalog=ceshi;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
