<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--入口COM口-->
    <add key ="INPORT" value ="1"/>
    <!--出口COM口-->
    <add key ="OUTPORT" value ="2"/>
    <!-- 波特率-->
    <add key ="SPEED" value ="2400"/>
    <!--是否描红,1为启动描红-->
    <add key ="IFWORK" value ="1"/>
  </appSettings>
</configuration>