<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="yp_conn" connectionString=" Initial Catalog=yp; Integrated Security=true; User Id=liangs; Pwd=998146523"/>
  </connectionStrings>
</configuration>
