@model WebAPI.Models.LoginModel
@{
    ViewBag.Title = "Index";
}
<script language="javascript">
    function display() {
        if ($("#txtusername").attr("value") == "")
        {
            //alert("请输入您的姓名.");
            return false;
        } else if ($("#txtuserpassword").attr("value") == "") {
            //alert("请输入您的密码.");
            return false;
        }
        //alert("Login Successfully");
        return true;
    }
</script>
<h3>WebAPI 登录测试 </h3>
@using (Html.BeginForm("Index", "Home"))
{
    <table width="40%" cellpadding="1" cellspacing="5">
        <tr>
            <td colspan="2" style="color:#f00;font-size:larger">@ViewBag.Status</td>
        </tr>
        <tr>
            <td align="right">姓名 :</td>
            <td>@Html.TextBoxFor(m => m.UserName, new { @style = "width:200px", @id = "txtusername" })</td>
        </tr>
        <tr>
            <td align="right">密码 :</td>
            <td>@Html.PasswordFor(m => m.UserPassword, new { @style = "width:200px", @id = "txtuserpassword" })</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="登录" title="登录" onclick=" display();" />
            </td>
        </tr>
    </table>
}