<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
        <add name="yp_conn" connectionString="Data Source=192.168.137.1; Initial Catalog=yp; Integrated Security=false; User Id=liangs; Pwd=998146523"/>
    </connectionStrings>
</configuration>
