USE [master]
GO
/****** Object:  Database [yp]    Script Date: 2017-1-4 23:05:15 ******/
CREATE DATABASE [yp] ON  PRIMARY 
( NAME = N'yp', FILENAME = N'C:\DB\yp.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'yp_log', FILENAME = N'C:\DB\yp_log.LDF' , SIZE = 3520KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [yp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [yp]
GO
/****** Object:  User [zhy]    Script Date: 2017-1-4 23:05:15 ******/
CREATE USER [zhy] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[customerType]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customerType](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_customerType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[discount]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount](
	[customerTypeId] [tinyint] NOT NULL,
	[discountModeId] [tinyint] NOT NULL,
	[number] [numeric](10, 2) NOT NULL,
	[startDateTime] [datetime] NOT NULL,
	[duration] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[discountMode]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discountMode](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_discountMode] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hall]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hall](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[layoutId] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[theme] [nvarchar](50) NULL,
 CONSTRAINT [PK_hall] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[layout]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[layout](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[style] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_layout] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movie]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[movie](
	[id] [nvarchar](36) NOT NULL,
	[name] [nvarchar](50) NULL,
	[movieTypeId] [tinyint] NOT NULL,
	[duration] [tinyint] NOT NULL,
	[poster] [varbinary](max) NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[movieSchedule]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieSchedule](
	[id] [nvarchar](36) NOT NULL,
	[movieId] [nvarchar](36) NOT NULL,
	[scheduleId] [int] NOT NULL,
 CONSTRAINT [PK_movieSchedule] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movieType]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieType](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_movieType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[originPrice]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[originPrice](
	[priceTempletId] [int] IDENTITY(1,1) NOT NULL,
	[positionTypeId] [tinyint] NOT NULL,
	[playId] [nvarchar](36) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[play]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[play](
	[id] [nvarchar](36) NOT NULL,
	[hallId] [smallint] NOT NULL,
	[date] [date] NOT NULL,
	[beginTime] [time](7) NOT NULL,
	[movieScheduleId] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_play] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[position]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[position](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rowNum] [int] NOT NULL,
	[colNum] [int] NOT NULL,
	[positionTypeId] [tinyint] NOT NULL,
	[useAble] [bit] NOT NULL,
	[layoutId] [int] NOT NULL,
 CONSTRAINT [PK_positionLayout] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[positionType]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positionType](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_positionType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[priceTemplet]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[priceTemplet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [numeric](10, 2) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_priceTemplet] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sale]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale](
	[moviename] [nvarchar](36) NULL,
	[custtype] [nvarchar](50) NULL,
	[price] [numeric](10, 2) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_sale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[saleseat]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saleseat](
	[moviename] [nvarchar](36) NULL,
	[seatrow] [int] NULL,
	[seatcol] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[schedule]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[beginDate] [date] NOT NULL,
	[duration] [smallint] NOT NULL,
 CONSTRAINT [PK_schedule] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ticket]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket](
	[positionId] [int] NOT NULL,
	[customerTypeId] [tinyint] NOT NULL,
	[sellPrice] [numeric](10, 2) NOT NULL,
	[sellDateTime] [datetime] NOT NULL,
	[playId] [nvarchar](36) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vw_hall_layout]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vw_hall_layout]
as
select h.id as hallId
,h.name as hallName
,h.theme as hallTheme
,l.id as layoutId
,l.style as layoutStyle
from hall as h
inner join layout as l on h.layoutId=l.id


GO
/****** Object:  View [dbo].[vw_movie]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vw_movie]
as
select o.*
,e.name as movieTypeName
from movie as o
inner join movieType as e on e.id=o.movieTypeId

GO
/****** Object:  View [dbo].[vw_movieType]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vw_movieType]
as
select h.id as leiId
,h.name
 ,l.id as hallId
,l.name as hallName
,l.movieTypeId as hallTypeId
,l.duration as hallduration
,l.poster as halldposter
from movieType as h
inner join movie as l on h.id=l.movieTypeId

GO
/****** Object:  View [dbo].[vw_play]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vw_play]
as
select 
h.name as hallName
,h.id as hallId
,p.[date]
,p.beginTime
,ms.id as movieScheduleId
,s.name as scheduleName
,ms.movieId
,m.name as movewName

from play as p
inner join hall as h on p.hallId=h.id
inner join movieSchedule as ms on p.movieScheduleId=ms.id
inner join movie as m on ms.movieId=m.id
inner join schedule as s  on ms.scheduleId=s.id


GO
/****** Object:  View [dbo].[vw_position]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_position]
AS
SELECT p.id AS positionId, p.rowNum, p.colNum, p.positionTypeId, pt.name AS positionTypeName, p.layoutId, l.style AS layoutStyle, p.useAble
FROM   dbo.position AS p INNER JOIN
             dbo.layout AS l ON p.layoutId = l.id INNER JOIN
             dbo.positionType AS pt ON p.positionTypeId = pt.id

GO
SET IDENTITY_INSERT [dbo].[customerType] ON 

INSERT [dbo].[customerType] ([id], [name]) VALUES (1, N'老人')
INSERT [dbo].[customerType] ([id], [name]) VALUES (2, N'儿童')
INSERT [dbo].[customerType] ([id], [name]) VALUES (3, N'成年')
SET IDENTITY_INSERT [dbo].[customerType] OFF
SET IDENTITY_INSERT [dbo].[hall] ON 

INSERT [dbo].[hall] ([id], [layoutId], [name], [theme]) VALUES (6, 79, N'要钱不要命', N'火热青春')
INSERT [dbo].[hall] ([id], [layoutId], [name], [theme]) VALUES (7, 82, N'自动消失', N'好男人')
INSERT [dbo].[hall] ([id], [layoutId], [name], [theme]) VALUES (8, 80, N'好男人总是在需要的时候自动出现', N'不要走')
SET IDENTITY_INSERT [dbo].[hall] OFF
SET IDENTITY_INSERT [dbo].[layout] ON 

INSERT [dbo].[layout] ([id], [style]) VALUES (79, N'复古')
INSERT [dbo].[layout] ([id], [style]) VALUES (80, N'清雅')
INSERT [dbo].[layout] ([id], [style]) VALUES (81, N'热情')
SET IDENTITY_INSERT [dbo].[layout] OFF
SET IDENTITY_INSERT [dbo].[movieType] ON 

INSERT [dbo].[movieType] ([id], [name]) VALUES (1, N'喜剧片')
INSERT [dbo].[movieType] ([id], [name]) VALUES (2, N'爱情片')
INSERT [dbo].[movieType] ([id], [name]) VALUES (3, N'动作片')
SET IDENTITY_INSERT [dbo].[movieType] OFF
SET IDENTITY_INSERT [dbo].[position] ON 

INSERT [dbo].[position] ([id], [rowNum], [colNum], [positionTypeId], [useAble], [layoutId]) VALUES (2740, 6, 6, 1, 1, 79)
INSERT [dbo].[position] ([id], [rowNum], [colNum], [positionTypeId], [useAble], [layoutId]) VALUES (2741, 6, 5, 1, 1, 79)
INSERT [dbo].[position] ([id], [rowNum], [colNum], [positionTypeId], [useAble], [layoutId]) VALUES (2742, 6, 4, 1, 1, 79)
GO
SET IDENTITY_INSERT [dbo].[position] OFF
SET IDENTITY_INSERT [dbo].[positionType] ON 

INSERT [dbo].[positionType] ([id], [name]) VALUES (1, N'二等座')
INSERT [dbo].[positionType] ([id], [name]) VALUES (2, N'空')
INSERT [dbo].[positionType] ([id], [name]) VALUES (3, N'通道')
SET IDENTITY_INSERT [dbo].[positionType] OFF
SET IDENTITY_INSERT [dbo].[sale] ON 

INSERT [dbo].[sale] ([moviename], [custtype], [price], [id]) VALUES (N'大话修仙', N'老人', CAST(60.00 AS Numeric(10, 2)), 4)
INSERT [dbo].[sale] ([moviename], [custtype], [price], [id]) VALUES (N'大话修仙', N'老人', CAST(60.00 AS Numeric(10, 2)), 5)
INSERT [dbo].[sale] ([moviename], [custtype], [price], [id]) VALUES (N'中学生爸爸', N'儿童', CAST(60.00 AS Numeric(10, 2)), 6)
SET IDENTITY_INSERT [dbo].[sale] OFF
INSERT [dbo].[saleseat] ([moviename], [seatrow], [seatcol]) VALUES (N'大话修仙', 1, 1)
INSERT [dbo].[saleseat] ([moviename], [seatrow], [seatcol]) VALUES (N'大话修仙', 1, 2)
INSERT [dbo].[saleseat] ([moviename], [seatrow], [seatcol]) VALUES (N'大话修仙', 2, 3)
ALTER TABLE [dbo].[discount]  WITH CHECK ADD  CONSTRAINT [FK_discount_customerType] FOREIGN KEY([customerTypeId])
REFERENCES [dbo].[customerType] ([id])
GO
ALTER TABLE [dbo].[discount] CHECK CONSTRAINT [FK_discount_customerType]
GO
ALTER TABLE [dbo].[discount]  WITH CHECK ADD  CONSTRAINT [FK_discount_discountMode] FOREIGN KEY([discountModeId])
REFERENCES [dbo].[discountMode] ([id])
GO
ALTER TABLE [dbo].[discount] CHECK CONSTRAINT [FK_discount_discountMode]
GO
ALTER TABLE [dbo].[hall]  WITH CHECK ADD  CONSTRAINT [FK_hall_layout] FOREIGN KEY([layoutId])
REFERENCES [dbo].[layout] ([id])
GO
ALTER TABLE [dbo].[hall] CHECK CONSTRAINT [FK_hall_layout]
GO
ALTER TABLE [dbo].[movie]  WITH CHECK ADD  CONSTRAINT [FK_movie_movieType] FOREIGN KEY([movieTypeId])
REFERENCES [dbo].[movieType] ([id])
GO
ALTER TABLE [dbo].[movie] CHECK CONSTRAINT [FK_movie_movieType]
GO
ALTER TABLE [dbo].[movieSchedule]  WITH CHECK ADD  CONSTRAINT [FK_movieSchedule_movie] FOREIGN KEY([movieId])
REFERENCES [dbo].[movie] ([id])
GO
ALTER TABLE [dbo].[movieSchedule] CHECK CONSTRAINT [FK_movieSchedule_movie]
GO
ALTER TABLE [dbo].[movieSchedule]  WITH CHECK ADD  CONSTRAINT [FK_movieSchedule_schedule] FOREIGN KEY([scheduleId])
REFERENCES [dbo].[schedule] ([id])
GO
ALTER TABLE [dbo].[movieSchedule] CHECK CONSTRAINT [FK_movieSchedule_schedule]
GO
ALTER TABLE [dbo].[originPrice]  WITH CHECK ADD  CONSTRAINT [FK_originPrice_positionType] FOREIGN KEY([positionTypeId])
REFERENCES [dbo].[positionType] ([id])
GO
ALTER TABLE [dbo].[originPrice] CHECK CONSTRAINT [FK_originPrice_positionType]
GO
ALTER TABLE [dbo].[originPrice]  WITH CHECK ADD  CONSTRAINT [FK_originPrice_priceTemplet] FOREIGN KEY([priceTempletId])
REFERENCES [dbo].[priceTemplet] ([id])
GO
ALTER TABLE [dbo].[originPrice] CHECK CONSTRAINT [FK_originPrice_priceTemplet]
GO
ALTER TABLE [dbo].[play]  WITH CHECK ADD  CONSTRAINT [FK_play_hall] FOREIGN KEY([hallId])
REFERENCES [dbo].[hall] ([id])
GO
ALTER TABLE [dbo].[play] CHECK CONSTRAINT [FK_play_hall]
GO
ALTER TABLE [dbo].[play]  WITH CHECK ADD  CONSTRAINT [FK_play_movieSchedule] FOREIGN KEY([movieScheduleId])
REFERENCES [dbo].[movieSchedule] ([id])
GO
ALTER TABLE [dbo].[play] CHECK CONSTRAINT [FK_play_movieSchedule]
GO
ALTER TABLE [dbo].[position]  WITH CHECK ADD  CONSTRAINT [FK_position_layout] FOREIGN KEY([layoutId])
REFERENCES [dbo].[layout] ([id])
GO
ALTER TABLE [dbo].[position] CHECK CONSTRAINT [FK_position_layout]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_ticket_customerType] FOREIGN KEY([customerTypeId])
REFERENCES [dbo].[customerType] ([id])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_ticket_customerType]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_ticket_play] FOREIGN KEY([playId])
REFERENCES [dbo].[play] ([id])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_ticket_play]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_ticket_position] FOREIGN KEY([positionId])
REFERENCES [dbo].[position] ([id])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_ticket_position]
GO
/****** Object:  StoredProcedure [dbo].[proc_movie]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_movie]
@typeID tinyint
as
	if not exists(SELECT * FROM movieType where id=@typeID)
	select * from vw_movie
	else
	begin
	select * from vw_movie
	where movieTypeId=@typeID	
	end

GO
/****** Object:  StoredProcedure [dbo].[proc_movie_2]    Script Date: 2017-1-4 23:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_movie_2]
@ids tinyint
as
	if not exists(SELECT * FROM movie where movieTypeId=@ids)
			select * from vw_movie
	else
	begin
	select * from vw_movie 
	where movieTypeId=@ids
	end

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "p"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 280
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "l"
            Begin Extent = 
               Top = 207
               Left = 57
               Bottom = 350
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pt"
            Begin Extent = 
               Top = 351
               Left = 57
               Bottom = 494
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_position'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_position'
GO
USE [master]
GO
