USE [master]
GO
/****** Object:  Database [StuDb]    Script Date: 2016-11-19 10:18:21 ******/
CREATE DATABASE [StuDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StuDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\StuDb.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StuDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\StuDb_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StuDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StuDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2016-11-19 10:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2016-11-19 10:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [char](20) NOT NULL,
	[Sex] [char](2) NULL,
	[Age] [int] NULL,
	[Pwd] [char](20) NULL,
	[Discipline] [nchar](50) NULL,
 CONSTRAINT [PK_dbo.Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([ID], [Name], [Sex], [Age], [Pwd], [Discipline]) VALUES (1, N'Jim                 ', N'M ', 35, N'123                 ', NULL)
INSERT [dbo].[Student] ([ID], [Name], [Sex], [Age], [Pwd], [Discipline]) VALUES (2, N'Walter              ', N'M ', 38, N'pwd                 ', NULL)
INSERT [dbo].[Student] ([ID], [Name], [Sex], [Age], [Pwd], [Discipline]) VALUES (3, N'Tracy               ', N'F ', 32, N'asdfg               ', NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
USE [master]
GO
